.control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.control label {
    text-transform: uppercase;
}

.control label span {
    text-transform: none;
}