.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-self: center;
    gap: 2rem;
    box-shadow: var(--box-shadow);
    padding: 2.5rem
}

.container h1 {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 500;
    font-size: 22pt;
}

@media screen and (max-width: 1000px) {
    .container {
        box-shadow: none;
        padding: 0;
        width: 100%;
    }
}