.hasVisibility {
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-items: center;
    grid-gap: 5px;
}

.hasNotVisibility input {
    width: 100%;
}

.visibility {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    display: grid;
    color: var(--color-text);
    background: none;
    border: 1px solid var(--color-text);
    border-radius: var(--border-radius);
    padding: 0.2rem 0.5rem;
    gap: 10px;
    align-items: center;
    margin: 1rem 0;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    padding: 5px;
}

.input input {
    color: var(--color-text);
    background: none;
    border: none;
    padding: 0.2rem 1rem;
    font-size: 14pt;
    letter-spacing: 0.05rem;
}

.input input:focus {
    outline: none;
}

.input input:-webkit-autofill,
.input input:-webkit-autofill:hover,
.input input:-webkit-autofill:focus,
.input input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
    -webkit-text-fill-color: var(--color-text) !important;
}

.focused {
    border: 1px solid var(--color-primary);
}
