.dropdown {
    display: block;
    width: 100%;
    margin: 0;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.list li {
    float: left;
    margin: 0.5rem 0;
}

.link,
.current {
    color: var(--color-text);
    font-size: 14pt;
    text-transform: uppercase;
}


.current {
    border-bottom: 2px solid var(--color-primary);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}