.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 15px;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.container:hover {
    filter: var(--filter);
    cursor: pointer;
}

.title {
    letter-spacing: 0.2rem;
    font-weight: 600;
    max-width: 60%;
}

.banner {
    font-size: 11pt;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-weight: 800;
    color: var(--color-white);
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    text-align: center;
    text-transform: uppercase;
}

.ongoing {
    background-color: var(--color-green);
}

.registration {
    background-color: var(--color-light-blue);
}
