.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ballots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.actions {
    width: 10%;
}

@media screen and (max-width: 1000px) {
    .ballots {
        flex-direction: column;
    }

    .actions {
        width: 50%;
        align-self: center;
    }
}
