@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --color-primary: #1E81B0;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-red: #B10F2E;
  --color-green: #8FAD88;
  --color-light-grey: #f3efef;
  --color-light-blue: #7BB2D9;
  --border: 1px solid var(--color-primary);
  --border-radius: 8px;
  --navbar-size: 80px;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color-text: var(--color-black);
  --background-color: var(--color-white);
  --filter: brightness(1.2);
  --border-light: rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--color-text);
  background: var(--background-color);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.dark {
  --color-text: var(--color-white);
  --background-color: #171A21;
  --box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
  --border-light: rgba(255, 255, 255, 0.1);
}

.notification {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 50px;
  z-index: 10;
  grid-gap: 10px;
  background: none;
  padding: 1rem;
}

.notification div {
  background: none;
}

.notification p {
  background: none;
  color: var(--color-white);
}

@media screen and (max-width: 800px) {
  .notification {
    padding: 0.5rem;
  }
}
