.form {
    width: 80%;
    align-self: center;
}

.form h2 {
    font-size: 18pt;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.helper {
    margin-left: 2rem;
}

.question {
    margin: 1rem 0;
}

@media screen and (max-width: 1000px) {
    .form {
        width: 90vw;
        margin: 1rem 5vw;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}